main {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .intro {
    width: 1200px;
    height: 760px;

    border-radius: 70px;
    padding-left: 52px;
    padding-top: 208px;
    background-image: url(@/assets/head-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    .intro__name {
      font-family: 'DM Serif Display', sans-serif;

      font-size: 65px;
      line-height: 125%;
      color: #292f36;
      text-transform: capitalize;
      width: 434px;
      margin: 0;
    }
    .intro__description {
      font-family: 'Jost';

      font-size: 22px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: #4d5053;
      width: 434px;
    }
    a {
      display: block;
      margin-top: 21px;
      font-family: 'Jost';
      text-align: center;
      font-size: 18px;
      line-height: 75px;

      color: #fff;
      border-radius: 18px;
      width: 220px;
      height: 75px;
      text-transform: capitalize;
      box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
      background: var(--main-text-color);
      svg {
        margin-left: 10px;
      }
    }
  }

  .our-projects {
    display: flex;
    flex-direction: column;
    .palette {
      margin-top: 93px;
      max-width: var(--max-width);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 104px;
      row-gap: 56px;

      .project {
        width: 525px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        row-gap: 24px;
        .project__img {
          flex: 0 0 100%;
          width: 100%;
          height: auto;
        }
        .description__link {
          width: 70px;
          height: 70px;
          line-height: 80px;
          text-align: center;
          border-radius: 50%;
          background-color: var(--link-color);
          cursor: pointer;
        }
      }
      .project:nth-child(2n-1) {
        .project__img {
          overflow: hidden;
          border-bottom-right-radius: 70px;
        }
      }
      .project:nth-child(2n) {
        .project__img {
          overflow: hidden;
          border-top-left-radius: 70px;
        }
      }
      .project:last-child {
        .project__img {
          overflow: hidden;
          border-top-left-radius: 0px;

          border-bottom-left-radius: 70px;
        }
      }
      .project:first-child {
        .project__img {
          overflow: hidden;
          border-bottom-right-radius: 0px;
          border-top-right-radius: 70px;
        }
      }
      .description {
        .description__name {
          font-family: 'DM Serif Display', sans-serif;
          font-size: 25px;
          line-height: 1.25;
          letter-spacing: 0.02em;
          color: var(--main-text-color);
          text-transform: capitalize;
        }
        .description__type {
          font-family: 'Jost';
          font-size: 22px;
          letter-spacing: 0.01em;
          line-height: 1.5;
        }
      }
    }
  }
  .achivments {
    margin-top: 96px;
    position: relative;
    width: 100%;
    height: 460px;
    background-color: var(--achivments-background-color);
    display: flex;
    gap: 76px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .achivment {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 fit-content;
      padding-right: 54px;
      .achive__number {
        font-family: 'DM Serif Display', sans-serif;
        font-size: 85px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: var(--achivement-text-color);
      }
      .achive__description {
        font-family: 'Jost';
        text-transform: capitalize;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #4d5053;
      }
      &:not(:last-child) {
        border-right: 1px solid var(--achivement-text-color);
      }
    }
  }
}

.reverse-button {
  position: absolute;
  margin-left: 200px;
  width: fit-content;
  height: 100px;
  padding: 10px;
  border-radius: 15px;
  font-size: 22px;
}
.add-button {
  width: fit-content;
  height: 100px;
  padding: 10px;
  border-radius: 15px;
  font-size: 30px;
}
.items {
  font-size: 30px;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
}
.head {
  align-items: center;
}
